@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Black.ttf), format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-BlackItalic.ttf), format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Bold.ttf), format('truetype');
    font-weight: bold;
}
    
@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-BoldItalic.ttf), format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-ExtraBold.ttf), format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-ExtraBoldItalic.ttf), format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-ExtraLight.ttf), format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-ExtraLightItalic.ttf), format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Italic.ttf), format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Light.ttf), format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-LightItalic.ttf), format('truetype');
    font-style: italic;
    font-weight: light;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Medium.ttf), format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-MediumItalic.ttf), format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Regular.ttf), format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-SemiBold.ttf), format('truetype');
    font-weight: semibold;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-SemiBoldItalic.ttf), format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-Thin.ttf), format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins/Poppins-ThinItalic.ttf), format('truetype');
    font-weight: light;
    font-style: italic;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* Mobile */
@media (max-width: 375px) {
    body > main {
        padding: 3em 1em;

        .header {
            h1 {
                font-size: 1.3em;
            }

            p {
                text-justify: auto;
            } 
        }

        .content {
            display: flex;
            flex-direction: column;
            row-gap: 3em;
        }
    }
}

body {
    min-width: fit-content;
    height: auto;

    font-family: 'Poppins';

    /* background-color: skyblue; */
}

body > main {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: yellow; */
    
    min-height: fit-content;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    
    color: var(--very-dark-blue);
    text-align: center;

    margin-bottom: 3em;

    h1 {
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 1.5px;
    }
    
    p {
        font-size: .9em;
        font-weight: bold;
        margin-top: 0;
    }
}

.content {
    /* background-color: yellowgreen; */

    box-sizing: border-box;
    margin: 0 auto;

    /* position: absolute; */

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    height: auto;
}

.footer {
    display: block;
    height: auto;

    font-size: .8em;
    font-weight: bold;
    text-align: center;
    
    a {
        color: var(--very-dark-blue);
        text-decoration: none;
    }
}

.card {
    background-color: white;

    position: relative;
    max-width: 22em;
    min-height: 15em;
    
    padding: 1em 2em;
    box-sizing: border-box;
    border-radius: 5px;

    /* leftright topbottom thickness color*/
    box-shadow: 0px 5px 10px var(--grayish-blue);

    h2 {
        color: var(--very-dark-blue);
        font-size: 1.25rem;
    }
    
    p {
        color: var(--grayish-blue);
        font-size: .8em;
        font-weight: bold;

        line-height: 2em;
    }

    img {
        max-width: 20%;
        height: auto;

        position: absolute;
        right: 10%;
        bottom: 10%;
    }
}

.left {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    
    border-top: 4px solid var(--cyan);
}
.top {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    border-top: 4px solid var(--red);
}
.bottom {
    grid-column: 2;
    grid-row-start: 3;
    grid-row-end: 5;

    border-top: 4px solid var(--orange);
}
.right {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    border-top: 4px solid var(--blue);
}